.img___logo {
    width: 75%;
    padding-left: 25%;
}

.div___content {
    /* background: #FFFFFF; */
    /* box-shadow: 8px 6px 31px -4px rgb(0 0 0 / 21%); */
    /* -webkit-box-shadow: 8px 6px 31px -4px rgb(0 0 0 / 21%); */
    border-radius: 10px;
    width: 40%;
    /* max-height: 550px; */
    overflow: overlay;
}

.h3___welcome {
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 34px;
    color: #212121;
}

.h1___login {
    font-style: normal;
    font-weight: 600;
    font-size: 31px;
    line-height: 42px;
    color: #212121;
}

.h4___description {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #212121;
}

.h4___fields {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #212121;
}

.h5___forgotpassword {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    color: #4D4D4D;
    margin-top: 2px;
}

.h5___rememberme {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

.h5___singup {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #818181;
}

.div___subcontainer {
    border-radius: 8px;
    padding: 0 38px 0 38px;
}
