<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">

    <enarm-loading-outlet [isLoading]="isLoading">
        <div [ngClass]="{ 'inline-center': !isMobile }" style="position: absolute; top: 10%;"
            [ngStyle]="{ 'height': screenHeight + 'px;' }">
            <div class="div___content" [ngStyle]="{ 'width': !isMobile ? '40%' : '100%' }">

                <div style="padding: 38px 38px 0px 38px;">
                    <h3 *ngIf="!fromSocialMedia" class="h3___welcome">¡Bienvenido!</h3>
                    <h3 *ngIf="fromSocialMedia" class="h3___welcome">¡Estas a un solo paso!</h3>
                    <h1 class="h1___login mtt-10">Registrate</h1>
                    <h4 class="h4___description">Usa tus datos para registrarte en MedBrain.</h4>
                </div>
                <div class="div___subcontainer mtt-30">
                    <div style="background-color: #f5f5f5; border-radius: 8px; padding: 10px;">
                        <mat-form-field class="w-full">
                            <mat-label>Nombre</mat-label>
                            <input id="name" matInput [formControlName]="'name'">
                            <mat-error *ngIf="checkoutForm.get('name')?.hasError('required')">
                                Nombre es requerido
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="w-full">
                            <mat-label>Apellido paterno</mat-label>
                            <input id="lastname" matInput [formControlName]="'lastname'">
                            <mat-error *ngIf="checkoutForm.get('lastname')?.hasError('required')">
                                Apellido es requerido
                            </mat-error>
                        </mat-form-field>
                        <!-- <h4 class="h4___fields mtt-30">Apellido Materno</h4>
                        <div class="mtt-5">
                            <enarm-input required id="secondlastname" format="text"
                                [control]="checkoutForm.controls.secondlastname" formControlName="secondlastname"
                                placeholder="de la O"></enarm-input>
                        </div> -->
                        <mat-form-field class="w-full">
                            <mat-label>Apellido materno</mat-label>
                            <input id="secondlastname" matInput [formControlName]="'secondlastname'">
                            <mat-error *ngIf="checkoutForm.get('secondlastname')?.hasError('required')">
                                Apellido es requerido
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="w-full">
                            <mat-label>Fecha de nacimiento</mat-label>
                            <input id="birthdate" type="date" matInput [formControlName]="'birthdate'">
                            <mat-error *ngIf="checkoutForm.get('birthdate')?.hasError('required')">
                                Fecha de nacimiento es requerido
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div style="padding: 0 0 38px 0;">
                    <div class="div___subcontainer mtt-10">
                        <div style="background-color: #f5f5f5; border-radius: 8px; padding: 10px;">
                            <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                                <mat-label>Soy</mat-label>
                                <mat-select [formControlName]="'studenttype'">
                                    <mat-option *ngFor="let item of studentTypes"
                                        [value]="item">{{item.value}}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="checkoutForm.get('studenttype')?.hasError('required')">
                                   campo requerido
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                                <mat-label>Universidad</mat-label>
                                <mat-select [formControlName]="'studies'">
                                    <mat-option *ngFor="let item of universidades"
                                        [value]="item">{{item.value}}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="checkoutForm.get('studies')?.hasError('required')">
                                   campo requerido
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                                <mat-label>Especialidad de tu interés</mat-label>
                                <mat-select [formControlName]="'especility'">
                                    <mat-option *ngFor="let item of especialities"
                                        [value]="item">{{item.value}}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="checkoutForm.get('especility')?.hasError('required')">
                                   campo requerido
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                                <mat-label>¿Cuándo aplicarás ENARM?</mat-label>
                                <mat-select [formControlName]="'enarmdate'">
                                    <mat-option *ngFor="let item of enarmDate"
                                        [value]="item">{{item.value}}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="checkoutForm.get('enarmdate')?.hasError('required')">
                                   campo requerido
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>


            </div>
            <div style="padding-top: 7%;" [ngStyle]="{ 'width': !isMobile ? '40%' : '100%' }">
                <img class="img___logo" src="assets/images/enarm-logo.png" alt="">
                <div class="div___subcontainer mtt-10">
                    <div style="background-color: #f5f5f5; border-radius: 8px; padding: 10px;">
                        <mat-form-field class="w-full">
                            <mat-label>Correo</mat-label>
                            <input id="email" type="email" matInput [formControlName]="'email'">
                            <mat-error *ngIf="checkoutForm.get('email')?.hasError('required')">
                                Correo es requerido o no es el formato correcto
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="w-full">
                            <mat-label>Numero de teléfono</mat-label>
                            <input type="number" id="phonenumber" matInput [formControlName]="'phonenumber'">
                            <mat-error *ngIf="checkoutForm.get('phonenumber')?.hasError('required')">
                                Numero de teléfono es requerido
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div *ngIf="!fromSocialMedia" class="div___subcontainer mtt-10">
                    <div style="background-color: #f5f5f5; border-radius: 8px; padding: 10px;">

                        <h4 class="h4___fields">Contraseña <img style="cursor: pointer; width: 6%;"
                                (click)="passwordInfo = !passwordInfo" src="assets/icons/question.svg"></h4>
                        <div style="background-color: white; border-radius: 8px; padding: 2vw; margin-bottom: 2vh;"
                            *ngIf="passwordInfo">
                            <h6>La contraseña debe tener entre 8 y 15 caracteres, incluir mayúsculas, minúsculas,
                                números y al menos un carácter especial</h6>
                        </div>
                        <mat-form-field class="w-full">
                            <mat-label>Contrasena</mat-label>
                            <input
                                id="password"
                                matInput
                                type="password"
                                [formControlName]="'password'"
                                #passwordField>
                            <button
                                mat-icon-button
                                type="button"
                                (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                                matSuffix>
                                <mat-icon
                                    class="icon-size-5"
                                    *ngIf="passwordField.type === 'password'"
                                    [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                                <mat-icon
                                    class="icon-size-5"
                                    *ngIf="passwordField.type === 'text'"
                                    [svgIcon]="'heroicons_solid:eye-slash'"></mat-icon>
                            </button>
                            <mat-error>
                                Password is required
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="w-full">
                            <mat-label>Repite contraseña</mat-label>
                            <input
                                id="password"
                                matInput
                                type="password"
                                [formControlName]="'repypassword'"
                                #passwordrepypasswordField>
                            <button
                                mat-icon-button
                                type="button"
                                (click)="passwordrepypasswordField.type === 'password' ? passwordrepypasswordField.type = 'text' : passwordrepypasswordField.type = 'password'"
                                matSuffix>
                                <mat-icon
                                    class="icon-size-5"
                                    *ngIf="passwordrepypasswordField.type === 'password'"
                                    [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                                <mat-icon
                                    class="icon-size-5"
                                    *ngIf="passwordrepypasswordField.type === 'text'"
                                    [svgIcon]="'heroicons_solid:eye-slash'"></mat-icon>
                            </button>
                            <mat-error>
                                Password is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div style="padding: 0 38px 38px 38px;">
                    <div class="mtt-30">
                        <enarm-button style="width: 100%;" type="submit" text="Registrate"></enarm-button>
                    </div>
                </div>
                <div *ngIf="message" style="position: absolute;
                top: 0;
                width: 30%;
            ">
                    <fuse-alert [type]="'warn'" [appearance]="'outline'">
                        <span fuseAlertTitle>Error</span>
                        {{message}}
                    </fuse-alert>
                </div>
            </div>

        </div>
    </enarm-loading-outlet>
</form>