
.h1___timer {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #212121;
}

img {
    position: absolute;
    margin: -7px 0px 0px 10px;
    z-index: 10;
}