

.div___principal {
    border-radius: 8px;
    padding: 5px 14px;
}

.h4___title {
    font-style: normal;
    font-weight: 700;
    font-size: 9.49651px;
    line-height: 13px;
    color: #3DE23A;
}