.informationContainer {
    width: '100%';
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
}

.costos {
    padding: 0 38%;
    text-align: left;
    
}

.containerStyle {
    top: 1px;
    margin: 9% 25%;
    position: fixed;
    z-index: 73;
    width: 50%;
    height: 70vh;
    overflow: auto;
    background-color: #ffffff;
    text-align: center;
    padding: 3vh 0;
    border-radius: 4vh;
    box-shadow: 8px 8px 29px -9px rgba(0, 0, 0, 0.93);
    -webkit-box-shadow: 8px 8px 29px -9px rgba(0, 0, 0, 0.93);
    -moz-box-shadow: 8px 8px 29px -9px rgba(0, 0, 0, 0.93);
}

.buttonLeftContainer {
    flex-direction: 'row'
}

.buttonText {
    font-weight: bold;
    font-size: 2vw;
    color: black;
    margin-left: 10px
}

.rowAlign {
    flex-direction: row;
    margin-left: 13px;
    margin-right: 13;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-right: 15px;
}

.instructionsDescription {
    font-size: 14px;
    margin-left: 8px;
    margin-left: 5px;
    margin-right: 5px;
}

.instructionsTitle {
    font-size: 14px;
    font-weight: 'bold';
    margin-left: 8px;
    margin-left: 5px;
    margin-right: 5px
}

.instructions {
    color: black;
    font-size: 16px;
    margin-top: 5px
}

.numberReference {
    justify-content: center;
    font-size: 14px;
    font-weight: 'bold'
}

.containerInformation {
    background-color: gray;
    width: '100%';
    height: 300;
    border-radius: 8;
    justify-content: center;
    align-items: center;
    top: 15
}

.circle {
    width: 22;
    height: 22;
    border-radius: 22px / 2;
    justify-content: center;
    margin-top: 5px;
    align-items: center
}

.number {
    text-align: center;
    font-size: 2vw;
    color: white;
    font-weight: bold
}

.icons {
    align-self: center;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}