<div class="containerStyle">

    <div style="text-align: center;">
        <img style="width: 50%;" src="assets/images/happines.jpg" alt="">
        <h2>Felicidades</h2>
        <h4>Estas a un solo paso</h4>
        <h6 class="mt-3">para completar y poder hacer uso de esta gran herramienta es necesario hacer los siguientes
            paso para subscribirte en una de nuestras membrecias</h6>
        <h6>Es importante platicarte que nuestras mebrecias tienen los siguientes costos</h6>
        <ul class="costos">
            <li>1 mes - 60 pesos</li>
            <li>2 meses - 120 pesos</li>
            <li>6 meses - 340 pesos </li>
            <li>12 meses - 1300 pesos</li>
        </ul>
    </div>
    <div class="buttonLeftContainer mt-20">
        <h4 class="buttonText" numberOfLines={2}>Información acerca de la CLABE como pago</h4>
    </div>

    <div class="cardContainer">
        <div class="rowAlign">
            <div class="circle">
                <h4 class="number">1</h4>
            </div>
            <h4 class="instructionsDescription">Accede a tu banca en línea.</h4>
        </div>
        <div style="align-self: center">
            <img src="assets/images/exampleWeb.png" width={50} />
        </div>
        <div class="rowAlign">
            <div class="circle">
                <h4 class="number">2</h4>
            </div>
            <h4 class="instructionsDescription">Da de alta la CLABE en esta ficha.
                <h4 class="instructionsTitle">El banco
                    <h4 class="instructionsTitle">deberá de ser STP (Sistema de Transferencia y Pagos).
                    </h4>
                </h4>
            </h4>
        </div>

        <div style="align-self: center">
            <img src="assets/images/exampleScreenBank.png" width={30} />
        </div>

        <div class="rowAlign">
            <div class="circle">
                <h4 class="number">3</h4>
            </div>
            <h4 class="instructionsDescription">Realiza la transferencia correspondiente por la cantidad exacta en esta
                ficha,
                <h4 class="instructionsTitle">de lo contrario se rechazará el cargo.
                </h4>
            </h4>

        </div>
        <div style="align-self: center">
            <img src="assets/images/exampleTransferBank.png" width={30} />
        </div>

        <div class="rowAlign">
            <div class="circle">
                <h4 class="number">4</h4>
            </div>
            <h4 class="instructionsDescription">Al confirmar tu pago, el portal de tu banco generará un comprobante
                digital.
                <h4 class="instructionsTitle"> En el podrás verificar que se haya realizado correctamente. </h4>
                Conserva este comprobante de pago.
            </h4>
        </div>

        <div style="align-self: center">
            <img src="assets/images/exampleVaoucherBank.png" width={30} />
        </div>
        <div style="width: 100%; text-align: center; padding: 5% 20%;">
            <enarm-button (click)="dismiss.emit()" text="Entendido"></enarm-button>
        </div>
    </div>
</div>