<div>
    <div class="text-4xl font-bold tracking-tight leading-tight">{{item ?
        item.description : null | titlecase }}</div>
    <div class="mt-2 text-lg font-medium tracking-tight text-secondary">Tu plan perfecto </div>
    <div class="w-8 h-1 my-10 rounded bg-accent"></div>
    <!-- Price -->
    <div class="flex items-baseline whitespace-nowrap">
        <div class="mr-2 text-2xl">MXN</div>
        <div class="text-6xl font-semibold leading-tight tracking-tight">
            <ng-container>{{ showPrice(item.price) | currency }} <span style="font-size: 15px;">{{couponObj ?
                    couponObj.name : ''}}</span></ng-container>
        </div>
    </div>
    <div class="grid grid-cols-4 gap-6 w-full mt-8">

        <!-- Card number -->
        <div class="col-span-4 ">
            <p class="text-lg font-medium tracking-tight text-secondary">Numero de Tarjeta</p>
            <div class="inputCard" #cardElement></div>
        </div>
        <!-- Card expiration -->
        <div class="col-span-2">
            <p class="text-lg font-medium tracking-tight text-secondary">Expiracion</p>
            <div class="inputCard" #expiryElement></div>
        </div>
        <!-- Card CVC -->
        <div class="col-span-2 ">
            <p class="text-lg font-medium tracking-tight text-secondary">CVC</p>
            <div class="inputCard" #cvcElement></div>
        </div>
    </div>
    <!-- Divider -->
    <div class="mt-11 mb-10 border-t"></div>

    <!-- Actions -->
    <div class="flex items-center justify-end">
        <button (click)="cancel()" mat-flat-button [color]="'warn'" type="button">
            Cancelar
        </button>
        <button (click)="handlePayment()" class="ml-4" mat-flat-button type="button" [color]="'primary'">Pagar
        </button>
    </div>
    <div *ngIf="isLoading" class="blockContent"></div>
</div>