

<body>
    <enarm-header></enarm-header>
    <div class="ph-55" style="padding-top: 9%;">
        <div class="div___name" >
            <h1 class="h1___welcome">Bienvenido, <span style="font-weight: 600; color: black">José Manuel
                    Carrillo</span></h1>
            <h1 class="h1___daystoenarm">
                <img src="assets/icons/calendar-icon.svg" alt="">
                Quedan 62 días para el ENARM 2023, ¡tu puedes!
            </h1>    
        </div>
        <div class="row">
            <div class="col-50">
                <h2>asdasd</h2>
            </div>
            <div class="col-50">
                <div class="mt-38">
                    <enarm-toast-phrases encabezado="¿Sabías qué?" cuerpo="La micosis fungoide no tiene nada que ver con hongos, y se trata más bien de un linfoma No Hodgkin de células T que afecta la piel"></enarm-toast-phrases>
                    <div class="div___add mt-38">
                        <div class="button___add">
                            <h1 style="font-size: 50px;">+</h1>
                            <h1 class="h1___add" style="margin-left: 15px;"> Armar nuevo examen</h1>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</body>