<body>
    <enarm-header [profile]="user.name"></enarm-header>
    <div [ngClass]="{'ph-55': !isMobile, 'ph-30': isMobile }" [ngStyle]="{ 'padding-top': !isMobile ? '9%' : '30%' }">
        <div [ngClass]="{'div___name': !isMobile}">
            <h1 *ngIf="user" class="h1___welcome" >Bienvenido, <span
                    style="font-weight: 600; color: black">{{user.name}}
                    {{user.last_name}}</span></h1>
            <h1 class="h1___daystoenarm">
                <img src="assets/icons/calendar-icon.svg" [ngStyle]="{ 'width': isMobile ? '25px' : '20px'}" alt="">
                <span [ngStyle]="{ 'padding-top': isMobile ? '5px' : '0', 'padding-left': isMobile ? '5px' : '0' }">
                    Quedan {{examDate}} días para el ENARM 2023, ¡tu puedes!
                </span>
            </h1>
        </div>
        <div class="row">
            <div [ngClass]="{'col-50': !isMobile, 'col-100': isMobile, 'mtl-38': !isMobile}">
                <div *ngIf="currentExam" [ngStyle]="{'display': !isMobile ? 'flex' : ''}" [ngClass]="{'pr-25': !isMobile}">
                    <div  [ngClass]="{'col-50': !isMobile, 'col-100': isMobile}">
                    </div>
                    <div class="div__exam" [ngClass]="{'col-50': !isMobile, 'col-100': isMobile}">
                        <h3 class="h3___titleexam">Examen actual</h3>
                        <h4 class="h4___titleexam mtl-14">Examen {{currentExam ? currentExam.id : ''}}</h4>
                        <div class="mtl-8" style="display: flex;"><img src="assets/icons/check-icon.svg" style="width: 6%;" alt="">
                            <h6 class="h6___litext pll-5">{{currentExam? currentExam.numeroPreguntas : ''}} preguntas</h6>
                        </div>
                        <div class="mtl-12" style="display: flex;"><img src="assets/icons/check-icon.svg" style="width: 6%;" alt="">
                            <h6 class="h6___litext pll-5">{{currentExam? currentExam.respondidas : ''}} preguntas respondidas</h6>
                        </div>
                        <div class="mtl-8" style="display: flex;"><img src="assets/icons/check-icon.svg" style="width: 6%;" alt="">
                            <h6 class="h6___litext pll-5">{{currentExam && currentExam.isEspanol ? 'Español' : 'English'}}</h6>
                        </div>
                        <div class="mtl-18">
                            <enarm-progress-bar-exam [percentage]="currentExam ? (currentExam.respondidas*100/currentExam.numeroPreguntas).toString() : ''"></enarm-progress-bar-exam>
                        </div>
                        <div class="mttl-30">
                            <enarm-button (onClick)="router.navigateByUrl('exam/work/'+currentExam.id)" text="Retomar examen"></enarm-button>
                        </div>
                    </div>
                </div>
                <div [ngClass]="{ 'mttl-50': !isMobile }" class="div___moreExams">
                    <div class="div___headerExams mttl-20">
                        <h1 class="h1___exams">Exámenes previos</h1>
                        <div (click)="seeAllExams()" *ngIf="exams.length !== 0" class="buttonSeeAll">
                            <h3 class="h3___seeAll">Ver todos</h3>
                        </div>
                    </div>
                    <div *ngIf="exams.length !== 0" class="row mttl-30">
                        <div class="col-25">
                            <h5 class="h5___titleTable">EXAMEN</h5>
                        </div>
                        <div class="col-25">
                            <h5 class="h5___titleTable">FECHA</h5>
                        </div>
                        <div class="col-30">
                            <h5 class="h5___titleTable">PROGRESO</h5>
                        </div>
                        <div class="col-20">
                            <h5 class="h5___titleTable">ESTATUS</h5>
                        </div>
                    </div>
                    <div *ngIf="exams.length !== 0">
                        <div *ngFor="let item of exams.slice(0, 3)" class="row">
                            <div class="div___line"></div>
                            <div class="col-25">
                                <h5 class="h5___titleTableBody">Examen {{item.id}}</h5>
                            </div>
                            <div class="col-25">
                                <h5 class="h5___titleTableBody">{{item.creationDate | date : 'dd/MM/yy'}}</h5>
                            </div>
                            <div class="col-30">
                                <div style="padding-right: 40px;">
                                    <enarm-mini-progress-bar-exam [percentage]="(item.respondidas*100/item.numeroPreguntas).toString()" [subtitle]="item.respondidas +'/'+item.numeroPreguntas"></enarm-mini-progress-bar-exam>
                                </div>
                            </div>
                            <div class="col-20">
                                <enarm-status-exam [type]="item.status"></enarm-status-exam>
                            </div>
                        </div>
                    </div>
                    <div class="div___noexamlist" *ngIf="exams.length === 0">
                        <h1 class="h1___exams">Aun no tienes exámenes registrados 😓!</h1>
                    </div>
                </div>
            </div>
            <div [ngClass]="{'col-50': !isMobile, 'col-100': isMobile}">
                <div [ngClass]="{'mtl-38': true, 'pll-25': !isMobile}">
                    <enarm-toast-phrases [encabezado]="phrase.author"
                        [cuerpo]="phrase.phrase"></enarm-toast-phrases>
                    <div class="div___add mtl-38">
                        <div (click)="router.navigateByUrl('configurator')" class="button___add">
                            <h1 style="font-size: 50px;">+</h1>
                            <h1 class="h1___add" style="margin-left: 15px;"> Armar nuevo examen</h1>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- <enarm-modal *ngIf="isNew">
        <div style="text-align: center;">
            <img style="width: 50%;" src="assets/images/happines.jpg" alt="">
            <h2>Felicidades</h2>
            <h4>Estas a un solo paso 🔥</h4>
            <h6 class="mtl-3">para completar y poder hacer uso de esta gran herramienta es necesario hacer los siguientes
                pasos para subscribirte en una de nuestras membresias</h6>
            <h6>Es importante platicarte que nuestras membresias tienen los siguientes costos</h6>
            <ul class="costos">
                <li>1 mes - 60 pesos</li>
                <li>2 meses - 120 pesos</li>
                <li>6 meses - 340 pesos </li>
                <li>12 meses - 1300 pesos</li>
            </ul>
        </div>
        <div class="buttonLeftContainer mttl-20">
            <h4 class="buttonText" numberOfLines={2}>Información acerca de la CLABE como pago</h4>
        </div>

        <div class="cardContainer">
            <div class="rowAlign">
                <div class="circle">
                    <h4 class="number">1</h4>
                </div>
                <h4 class="instructionsDescription">Accede a tu banca en línea.</h4>
            </div>
            <div style="align-self: center">
                <img src="assets/images/exampleWeb.png" width={50} />
            </div>
            <div class="rowAlign">
                <div class="circle">
                    <h4 class="number">2</h4>
                </div>
                <h4 class="instructionsDescription">Da de alta la CLABE en esta ficha.
                    <h4 class="instructionsTitle">El banco
                        <h4 class="instructionsTitle">deberá de ser STP (Sistema de Transferencia y Pagos).
                        </h4>
                    </h4>
                </h4>
            </div>

            <div style="align-self: center">
                <img src="assets/images/exampleScreenBank.png" width={30} />
            </div>

            <div class="rowAlign">
                <div class="circle">
                    <h4 class="number">3</h4>
                </div>
                <h4 class="instructionsDescription">Realiza la transferencia correspondiente por la cantidad exacta en
                    esta
                    ficha,
                    <h4 class="instructionsTitle">de lo contrario se rechazará el cargo.
                    </h4>
                </h4>

            </div>
            <div style="align-self: center">
                <img src="assets/images/exampleTransferBank.png" width={30} />
            </div>

            <div class="rowAlign">
                <div class="circle">
                    <h4 class="number">4</h4>
                </div>
                <h4 class="instructionsDescription">Al confirmar tu pago, el portal de tu banco generará un comprobante
                    digital.
                    <h4 class="instructionsTitle"> En el podrás verificar que se haya realizado correctamente. </h4>
                    Conserva este comprobante de pago.
                </h4>
            </div>

            <div style="align-self: center">
                <img src="assets/images/exampleVaoucherBank.png" width={30} />
            </div>
            <div style="width: 100%; text-align: center; padding: 5% 20%;">
                <enarm-button (click)="changeToTail()" text="Entendido"></enarm-button>
            </div>
        </div>
    </enarm-modal>
    <enarm-modal *ngIf="isTryAccount">
        <div style="padding: 0 5%;">
            <img class="mttl-20" style="width: 50%;" src="assets/images/trial-version@4x.png" alt="">
            <h1 style="margin-top: -40px;">Estas en una version prueba🤘</h1>
            <h6 class="mttl-20">
                ¡Hola! Queremos compartirte una excelente noticia. Te daremos un acceso de prueba a nuestra plataforma:
                podrás acceder de manera gratuita a dos exámenes de 10 preguntas cada uno, con el que podrás explorar y
                experimentar las características y funcionalidades que ofrecemos.
                <br><br>
                Las opciones para conseguir una suscripción están en el apartado correspondiente del menú de inicio.
                <br><br>
                Esperamos que la plataforma sea de tu agrado, ya que le estamos metiendo todas las ganas para hacerla lo
                más interactiva y agradable posible, además de que el contenido te sirva para prepararte de la mejor
                manera!
                <br><br>
                ¡Gracias por elegirnos!
            </h6>
            <div style="width: 100%; text-align: center; padding: 5% 0">
                <enarm-button (click)="isTryAccount = false" text="Entendido"></enarm-button>
            </div>
        </div>
    </enarm-modal>
    <enarm-modal *ngIf="isExpireAccount">
        <div style="padding: 0 5%;">
            <img class="mttl-20" style="width: 50%;" src="assets/images/expire-account@2x.png" alt="">
            <h1>Cuenta vencida 😞</h1>
            <h6 class="mttl-20">
                ¡Hola! Quería comunicarte que hemos detectado que tu cuenta en nuestra plataforma se encuentra vencida
                debido a una falta de pago. Lamentablemente, esto significa que no podrás acceder a los servicios y
                beneficios que ofrecemos hasta que se solucione la situación.
                <br><br>
                Para solucionar esta situación, te invitamos a que accedas a tu cuenta y realices el pago
                correspondiente lo antes posible. Si necesitas ayuda para realizar el pago o tienes alguna duda, nuestro
                equipo de soporte estará disponible para ayudarte.
                <br><br>
                Recuerda que es importante mantener tu cuenta al día para que puedas seguir disfrutando de los servicios
                y beneficios que ofrecemos en la plataforma. Si tienes cualquier pregunta o necesitas más información
                sobre la situación de tu cuenta, no dudes en contactarnos.
                <br><br>
                Esperamos que puedas solucionar pronto esta situación y recuperar el acceso a tu cuenta. ¡Gracias por tu
                atención!
            </h6>
        </div>
    </enarm-modal> -->
</body>