h1,h2,h3,h4,h5,h6{font-family: monospace; margin: 0; padding: 0;}

.div-toast{
    background-color: black;
    color: white;
    padding: 15px 22px;
    border-radius: 8px;
}
.div-header{
    font-size: 18px;
}
.div-body{
    font-size: 14px;
    padding-top: 16px;
    padding-left: 10px;
}