h1,h2,h3,h4,h5,h6{font-family: monospace; margin:0; padding:0;}

.div-button{
    cursor: pointer;
    transition-duration: 0.4s;
    font-size: 8px;
    background-color: black;
    border-radius: 8px;
    padding: 15px 22px;
    color: white;
    text-align: center;
}

.div-button:hover{
    background-color: green;
    color: white;
}