<enarm-header></enarm-header>
<div class="row" style="padding-top: 9%;">
    <div class="col-10">
        <enarm-questions-bar></enarm-questions-bar>
    </div>
    <div class="col-90">
        <div class="div___header">
            <div style="width: 280px; margin-right: 80px;">
                <enarm-mini-progress-bar-exam [type]="2"></enarm-mini-progress-bar-exam>
            </div>
            <div class="div___header">
                <h5 class="h5___time">Tiempo Restante: </h5>
                <enarm-timer></enarm-timer>
            </div>
                <h2 class="h2___laboratories">Laboratorio</h2>
        </div>
        <div class="div___body">
            <h4 class="h4___examquestion">
                Acude a consulta mujer de 19 años. Refiere que hace dos semanas presentó pequeñas úlceras no dolorosas
                en labios menores, para las cuales recibió ceftriaxona por un facultativo. Las úlceras desaparecieron a
                los pocos días, pero desde hace 3 días, notó la presencia de “bolas” en ambas regiones inguinales, las
                cuales son muy dolorosas. La paciente ha tenido 6 parejas sexuales el último año, usando preservativo de
                forma irregular. A la exploración, se identifican linfadenopatías en ambas regiones inguinales,
                dolorosas a la palpación.
            </h4>
            <h4 class="h4___question mt-30">¿Cuál es el estudio diagnóstico de elección?</h4>
            <div class="div___answereds mt-15">
                <div class="div___answer">
                    <h1 class="h1___typeanswerdselected">A</h1>
                    <h1 class="h1___answered">NAAT</h1>
                </div>
                <div class="div___answer">
                    <h1 class="h1___typeanswerd">B</h1>
                    <h1 class="h1___answered">PCR para Herpes simple</h1>
                </div>
                <div class="div___answer">
                    <h1 class="h1___typeanswerd">C</h1>
                    <h1 class="h1___answered">FTA-Abs</h1>
                </div>
                <div class="div___answer" style="border: none">
                    <h1 class="h1___typeanswerd">D</h1>
                    <h1 class="h1___answered">Tinción de gram de la secreción cervical</h1>
                </div>
            </div>
        </div>
    </div>

</div>
<enarm-pagination></enarm-pagination>