<enarm-header></enarm-header>
<div class="row" style="padding-top: 9%;">
    <enarm-loading-outlet [isLoading]="isLoading">
        <div class="col-10">
            <enarm-questions-bar [questions]="questionbar" [select]="selectedQuestion"></enarm-questions-bar>
        </div>
        <div [ngClass]="{ 'col-90': !showLaboratories, 'col-50': showLaboratories }">
            <div class="div___header">
                <div *ngIf="fromApiQuesitons" style="width: 280px; margin-right: 80px;">
                    <enarm-mini-progress-bar-exam [questions]="fromApiQuesitons.length" [answered]="answered"
                        [type]="2"></enarm-mini-progress-bar-exam>
                </div>
                <div class="div___header">
                    <h5 class="h5___time">Tiempo Restante: </h5>
                    <enarm-timer (onPause)="onPauseTimer()"></enarm-timer>
                </div>
                <!-- <h2 (click)="openLaboratories()" class="h2___laboratories">Laboratorio</h2> -->
            </div>
            <div *ngIf="questions" class="div___body">
                <h4 class="h4___examquestion">
                    <span *ngIf="questions[selectedQuestion.index][selectedQuestion.id-1].casoClinico.nombre"
                        style="font-size: 24px; font-weight: bold;">
                        {{questions[selectedQuestion.index][selectedQuestion.id-1].casoClinico.nombre}}<br><br></span>
                    {{questions[selectedQuestion.index][selectedQuestion.id-1].casoClinico.descripcion}}
                </h4>
                <div *ngIf="isAnswered" class="div___resume">
                    <h1 class="h1___retro"><span style="font-size: 20; font-weight: bold;">Resumen
                            <br><br></span>{{questions[selectedQuestion.index][selectedQuestion.id-1].resumen}}</h1>
                </div>
                <h4 class="h4___question mtt-30">{{questions[selectedQuestion.index][selectedQuestion.id-1].pregunta}}
                </h4>
                <div class="div___answereds mt-15">
                    <div *ngFor="let answer of questions[selectedQuestion.index][selectedQuestion.id-1].respuestas; index as index; last as last"
                        class="divAnswersComplete" [ngClass]="{'borderNone': last}">
                        <div class="div___answer"
                            [ngClass]="{'selectedAnswer': answer.selected, 'correctAnswer': (answer.selected && answer.isCorrecta === 1) || (isAnswered && answer.isCorrecta === 1), 'incorrectAnswer': (answer.selected && answer.isCorrecta===0) || (isAnswered && answer.isCorrecta===0)}"
                            (click)="select(answer, questions[selectedQuestion.index][selectedQuestion.id-1].respuestas)">
                            <h1 class="h1___typeanswerdselected">{{answerSelection[index]}}</h1>
                            <h1 class="h1___answered">{{answer.respuesta}}</h1>
                        </div>
                        <div *ngIf="isAnswered" class="div___resume"
                            [ngClass]="{'correctAnswer': answer.isCorrecta === 1, 'incorrectAnswer': answer.isCorrecta===0}">
                            <h1 class="h1___retro"><span style="font-size: 20; font-weight: bold;">Retroalimientacion
                                    <br><br></span>{{answer.retroalimentacion}}</h1>
                        </div>
                    </div>
                </div>
                <mat-paginator
                    *ngIf="fromApiQuesitons"
                    class="z-10 bg-gray-50 dark:bg-transparent flex justify-center mt-5"
                    [ngClass]="{'pointer-events-none': isLoading}"
                    [length]="fromApiQuesitons.length"
                    [pageIndex]="currentQuestion"
                    [pageSize]="1"
                    [showFirstLastButtons]="false"
                    (page)="newxtQuestion()"
                    [hidePageSize]="true"
                    [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
        </div>
        <div *ngIf="showLaboratories" class="col-40 div___laboratories tx-center">
            <div class="div___laboratory" *ngFor="let laboratory of Laboratories">
                <h4 class="h4___examquestion" style="border-bottom: 1px solid rgb(149, 19, 193); padding-bottom: 5px;"><strong>{{laboratory.name | titlecase }}</strong></h4>
                <div class="row div___laboratory___row" style="margin: 0; width: 101%;">
                    <div class="col-33 div___laboratory___padding div___laboratory___borderRight div___laboratory___border">
                        <h4 class="h4___examquestion"><strong>Nombre</strong></h4>
                    </div>
                    <div class="col-33 div___laboratory___padding div___laboratory___border">
                        <h4 class="h4___examquestion"><strong>Ejemplo</strong></h4>
                    </div>
                    <div class="col-33 div___laboratory___padding div___laboratory___borderLeft div___laboratory___border">
                        <h4 class="h4___examquestion"><strong>Valor</strong></h4>
                    </div>
                </div>
                <div *ngFor="let sub of laboratory.subcategories; let last = last" class="row div___laboratory___row" style="margin: 0; width: 101%;">
                    <div class="col-33 div___laboratory___padding div___laboratory___borderRight" [ngClass]="{ 'div___laboratory___border': !last }">
                        <h4 class="h4___examquestion">{{sub.name }}</h4>
                    </div>
                    <div class="col-33 div___laboratory___padding" [ngClass]="{ 'div___laboratory___border': !last }">
                        <h4 class="h4___examquestion">{{sub.ejemplo }}</h4>
                    </div>
                    <div class="col-33 div___laboratory___padding div___laboratory___borderLeft" [ngClass]="{ 'div___laboratory___border': !last }">
                        <h4 class="h4___examquestion">{{sub.valor }}</h4>
                    </div>
                </div>
            </div>
        </div>
            

    </enarm-loading-outlet>
</div>

<enarm-modal *ngIf="isFinish">
    <h4 class="h4___examquestion">
        <span style="font-size: 40px; font-weight: bold;">
            <br><br>
            ¡Felicidades!<br><br></span>
    </h4>
    <img style="width: 30%;" src="assets/images/trofeo.png" alt="" srcset="">
    <h4 class="h4___examquestion">
        <span style="font-size: 20px; font-weight: bold;">
            <br>
            Has termiado el bloque de preguntas.</span>
    </h4>
    <div style="width: 100%; text-align: center; padding: 5% 20%;">
        <enarm-button backgroundcolor="#ffc107" (click)="continue()" text="Continuar"></enarm-button>
    </div>

</enarm-modal>