<enarm-header></enarm-header>
<div class="row" style="padding-top: 9%;">
    <enarm-loading-outlet [isLoading]="isLoading">
        <div class="col-10">
            <enarm-questions-bar [questions]="questionbar" [selected]="selectedQuestion"></enarm-questions-bar>
        </div>
        <div class="col-90">
            <div class="div___header">
                <div *ngIf="fromApiQuesitons" style="width: 280px; margin-right: 80px;">
                    <enarm-mini-progress-bar-exam [questions]="fromApiQuesitons.length" [answered]="answered"
                        [type]="2"></enarm-mini-progress-bar-exam>
                </div>
                <div class="div___header" style="width: 280px;">
                    <h5 class="h5___time">Tiempo Restante: </h5>
                    <enarm-timer (onPause)="onPauseTimer()"></enarm-timer>
                </div>
                <h2 class="h2___laboratories">Laboratorio</h2>
            </div>
            <div *ngIf="questions" class="div___body">
                <h4 class="h4___examquestion">
                    <span *ngIf="questions[selectedQuestion.clinic-1][selectedQuestion.id-1].casoClinico.nombre"
                        style="font-size: 24px; font-weight: bold;">
                        {{questions[selectedQuestion.clinic-1][selectedQuestion.id-1].casoClinico.nombre}}<br><br></span>
                    {{questions[selectedQuestion.clinic-1][selectedQuestion.id-1].casoClinico.descripcion}}
                </h4>
                <h4 class="h4___question mt-30">{{questions[selectedQuestion.clinic-1][selectedQuestion.id-1].pregunta}}
                </h4>
                <div class="div___answereds mt-15">
                    <div *ngFor="let answer of questions[selectedQuestion.clinic-1][selectedQuestion.id-1].respuestas; index as index; last as last"
                        class="div___answer" [ngClass]="{'borderNone': last, 'selectedAnswer': answer.selected}" (click)="select(answer, questions[selectedQuestion.clinic-1][selectedQuestion.id-1].respuestas)">
                        <h1 class="h1___typeanswerdselected">{{answerSelection[index]}}</h1>
                        <h1 class="h1___answered">{{answer.respuesta}}</h1>
                    </div>
                </div>
            </div>
        </div>
        <enarm-pagination *ngIf="fromApiQuesitons" [currentQuestion]="currentQuestion" [totalQuestions]="fromApiQuesitons.length"></enarm-pagination>
    </enarm-loading-outlet>
</div>