h1,h2,h3,h4,h5,h6{font-family: monospace}

.div-text{
    background-color: gray;
    font-size: 8px;
    text-align: left;
}

.div-percentage{
    font-size: 8px;
    text-align: right;
}

.div-light-gray{
    background-color: lightgray;
}

.div-container{
    padding:0.01em 16px;
}

.div-green{
    color:#fff!important;
    background-color: green;
}

.div-center{
    text-align: center!important;
}

.div-bar-container{
    display: inline!important;
    color: white;
}