
.div___header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 24px 58px;
    width: 100%;
    position: fixed;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.div___profile {
    width: 47px;
    height: 47px;
    color: white;
    font-size: 20px;
    background: #000000;
    border-radius: 193.194px;
}

.h4___profile {
    color: white;
    padding: 9px 17px !important;
}

.div___principalprofile {
    display: inline-flex;
}

.div___options {
    position: absolute;
    background-color: white;
    padding: 1% 1%;
    border-radius: 8px;
    margin-top: 50px;
    margin-left: -36px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
}
