.div___position {
    display: flex;
    justify-content: stretch;
}

.div___item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    gap: 16px;
    background: #FFFFFF;
    border: 1px solid #E5E7EB;
    border-radius: 0px 6px 6px 0px;

}

.input___item {
    width: 16px;
    height: 16px;
    border: 1px solid #E5E7EB;
    border-radius: 4px;
    accent-color: #000000;
}

.h5___item {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #1F2937;
    letter-spacing: 0.005em;
}