<div class="div___rangeSlider">

    <div class="div___marker">
        <div class="div___number">
            0
        </div>
    </div>
    <div class="div___marker">
        <div class="div___number">
            25
        </div>
    </div>
    <div class="div___marker">
        <div class="div___number">
            50
        </div>
    </div>
    <div class="div___marker">
        <div class="div___number">
            75
        </div>
    </div>
    <div class="div___marker">
        <div class="div___number">
            100
        </div>
    </div>
</div>