

.containerStyle {
    top: 1px;
    margin: 9% 25%;
    position: fixed;
    z-index: 73;
    width: 50%;
    height: 70vh;
    overflow: auto;
    background-color: #ffffff;
    text-align: center;
    padding: 3vh 0;
    border-radius: 4vh;
    box-shadow: 8px 8px 29px -9px rgba(0, 0, 0, 0.93);
    -webkit-box-shadow: 8px 8px 29px -9px rgba(0, 0, 0, 0.93);
    -moz-box-shadow: 8px 8px 29px -9px rgba(0, 0, 0, 0.93);
}
