.div-toast{
    background-color: black;
    color: white;
    padding: 15px 22px;
    border-radius: 8px;
}
.div-quote{
    margin-top: 12px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.005em;
}
.div-author{
    margin-top: 17px;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 160% */
    letter-spacing: 0.005em;
}
.div-icon{
    position:absolute;
    margin-top: -7.5px;
    margin-left: -15px;
}