<div class="inline-center" style="position: absolute; top: 15%;" [ngStyle]="{ 'height': screenHeight + 'px;' }">
    <div class="div___content">
        <h3 class="h3___welcome">¡Bienvenido!</h3>
        <h1 class="h1___login mt-10">Iniciar sesión</h1>
        <h4 class="h4___description">Usa tus credenciales para ingresar a Estudia X.</h4>
        <h4 class="h4___fields mt-30">Correo</h4>
        <div class="mt-5">
            <enarm-input placeholder="Ingresa tu correo electrónico"></enarm-input>
        </div>
        <h4 class="h4___fields mt-30">Contraseña</h4>
        <div class="mt-5">
            <enarm-input placeholder="Ingresa tu contraseña"></enarm-input>
        </div>
        <div class="inline-separe mt-20">
            <h5 class="h5___rememberme"><input type="checkbox" id="cbox1" value="first_checkbox"> <span style="position: absolute; margin-top: 2px;">Recordar</span></h5>
            <h5 class="h5___forgotpassword">¿Olvidaste tu contraseña?</h5>
        </div>
        <div class="mt-30">
            <enarm-button text="Iniciar sesión"></enarm-button>
        </div>
        <div class="tx-center mt-15">
            <h5 class="h5___singup">¿No tienes una cuenta?  <span style="color:black; font-weight: 600;">Registrarse</span></h5>
        </div>
    </div>
    <div style="padding-top: 10%;">
        <img class="img___logo" src="assets/images/enarm-logo.png" alt="">
    </div>

</div>