<nav class="navbar navbar-expand-lg navbar-light bg-light px-4">
    <a class="navbar-brand" href="#">Ernarm Admin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a role="button" (click)="current = 'usuarios'; go()" class="nav-link">Usuarios <span *ngIf="current === 'usuarios'"
                        class="sr-only">
                        <i-bs name="award" style="color:blue" width="20" height="20"></i-bs>
                    </span></a>
            </li>
            <li class="nav-item">
                <a role="button" (click)="current = 'questions'; go()" class="nav-link">Casos clinicos<span *ngIf="current === 'questions'"
                        class="sr-only">
                        <i-bs name="award" style="color:blue" width="20" height="20"></i-bs>
                    </span></a>
            </li>
            <li class="nav-item">
                <a role="button" (click)="current = 'categories'; go()" class="nav-link">Categorias<span *ngIf="current === 'categories'"
                        class="sr-only">
                        <i-bs name="award" style="color:blue" width="20" height="20"></i-bs>
                    </span></a>
            </li>
            <li class="nav-item">
                <a role="button" (click)="current = 'configurations'; go()" class="nav-link">Configuraciones<span
                        *ngIf="current === 'configurations'" class="sr-only">
                        <i-bs name="award" style="color:blue" width="20" height="20"></i-bs>
                    </span></a>
            </li>
            <li class="nav-item">
                <a role="button" (click)="current = 'subscripciones'; go()" class="nav-link">Subscripciones<span *ngIf="current === 'subscripciones'"
                        class="sr-only">
                        <i-bs name="award" style="color:blue" width="20" height="20"></i-bs>
                    </span></a>
            </li>
            <li class="nav-item">
                <a role="button" (click)="current = 'laboratory'; go()" class="nav-link">Laboratorios<span
                        *ngIf="current === 'laboratory'" class="sr-only">
                        <i-bs name="award" style="color:blue" width="20" height="20"></i-bs>
                    </span></a>
            </li>
            <li class="nav-item">
                <a role="button" (click)="current = 'logout'; go()"  class="nav-link">Cerrar sesion</a>
            </li>
        </ul>
    </div>
</nav>