.inventory-grid {
    grid-template-columns: 48px auto 40px;

    @screen sm {
        grid-template-columns: 48px minmax(250px, auto) 100px 112px 72px;
    }

    @screen md {
        // grid-template-columns: 48px 112px auto 112px 72px;
        grid-template-columns: 48px minmax(250px, auto) 140px 150px 120px;
    }

    @screen lg {
        // grid-template-columns: 48px 112px auto 112px 96px 96px 72px;
        grid-template-columns: 48px minmax(250px, auto) 140px 140px 150px 120px 100px 92px;
    }
}

/*
@screen sm {
    grid-template-columns: 48px 120px 70px 70px 75px 60px 50px 46px;
}

@screen md {
    grid-template-columns: 48px 200px 110px 110px 120px 90px 75px 69px;
}

@screen lg {
    grid-template-columns: 48px 250px 140px 140px 150px 120px 100px 92px;
}

*/