<!-- <enarm-admin-menu current="subscripciones"></enarm-admin-menu> -->
<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">
    <!-- Header -->
    <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
        <!-- Loader -->
        <div
            class="absolute inset-x-0 bottom-0"
            *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <!-- Title -->
        <div class="text-4xl font-extrabold tracking-tight">Usuarios</div>
        <!-- Actions -->
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <!-- Search -->
            <mat-form-field
                class="fuse-mat-dense fuse-mat-rounded min-w-64"
                [subscriptSizing]="'dynamic'">
                <mat-icon
                    class="icon-size-5"
                    matPrefix
                    [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
                <input
                    matInput
                    [formControl]="searchInputControl"
                    [autocomplete]="'off'"
                    [placeholder]="'Buscar usuarios'">
            </mat-form-field>
            <!-- Add product button -->
            <button
                class="ml-4"
                mat-flat-button
                [color]="'primary'"
                (click)="setValuesForm()">
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">Añadir</span>
            </button>
        </div>
    </div>

    <enarm-loading-outlet [isLoading]="isLoading">
    <!-- Main -->
    <div class="flex flex-auto overflow-hidden">
        <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
            <ng-container *ngIf="users; else noUsers">
                <div class="grid">
                    <!-- Cabecera -->
                    <div
                        class="inventory-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5">
                        <div class="hidden sm:block">ID</div>
                        <div>Email</div>
                        <div class="hidden lg:block">Nombres</div>
                        <div class="hidden lg:block">Apellidos</div>
                        <div>Usuario</div>
                        <div class="hidden sm:block">Subscripción</div>
                        <div class="hidden sm:block">Cuenta</div>
                        <div>Actions</div>
                    </div>

                    <!-- Filas -->
                    <ng-container *ngFor="let user of users; trackBy: trackByFn">
                        <div class="inventory-grid grid items-center gap-4 py-3 px-6 md:px-8 border-b">
                            <div class="hidden sm:block truncate">{{ user.id }}</div>
                            <div class="truncate">{{ user.email }}</div>
                            <div class="hidden lg:block truncate">{{ user.name }}</div>
                            <div class="hidden lg:block truncate">{{ user.last_name }}</div>
                            <div class="truncate">{{ user.user_type.name }}</div>
                            <div class="hidden sm:block truncate">{{ user.subscription_name }}</div>
                            <div class="hidden sm:block truncate">{{ user.userStatus.name }}</div>
                            <div>
                                <button
                                    mat-stroked-button
                                    (click)="setValuesForm(user)">
                                    <mat-icon
                                        class="icon-size-5"
                                        [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                                </button>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </ng-container>

            <!-- Sin usuarios -->
            <ng-template #noUsers>
                <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">
                    No users found!
                </div>
            </ng-template>
        </div>
        
</div>



<!-- Modal -->
<!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div [ngClass]="{'show': error}" class="toast align-items-center text-white bg-danger border-0"
        style="position: absolute; top: 4%; right: 5%;" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                Falta informacion por llenar
            </div>
            <button (click)="error = false" type="button" class="btn-close btn-close-white me-2 m-auto"
                data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <div class="modal-dialog">
            <div *ngIf="isLoadingModal" style="position: absolute; margin: 50%; z-index: 99;"
                class="d-flex justify-content-center">
                <div class="spinner-border" role="status">
                </div>
            </div>
            <div class="modal-content">
                <div class="modal-header" [ngClass]="{ 'opacity-25' : isLoadingModal}">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Edicion de Usuario</h1>
                    <button type="button" #myModalClose class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body" [ngClass]="{ 'opacity-25' : isLoadingModal}">


                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Nombre*</span>
                        <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1"
                            formControlName="nombres" required>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Apellidos*</span>
                        <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1"
                            formControlName="apellidos" required>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Email</span>
                        <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1"
                            formControlName="email" readonly>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Edad*</span>
                        <input type="number" class="form-control" aria-label="Username" aria-describedby="basic-addon1"
                            formControlName="cumpleanos" required>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Estatus de la cuenta*</span>
                        <select formControlName="estatus" class="form-select" aria-label="" required>
                            <option [value]="88">Eliminado</option>
                            <option [value]="99">Vencido</option>
                            <option [value]="0">Nuevo</option>
                            <option [value]="1">Corriente</option>
                            <option [value]="3">Prueba</option>
                        </select>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Subscripcion*</span>
                        <select formControlName="idSuscripcion" class="form-select" aria-label="" required>
                            <option *ngFor="let sub of subscriptions" [value]="sub.id"><span><b>{{sub.descripcion |
                                        titlecase}}</b> Duracion <b>{{ sub.duracionMes}} mes</b> Costo <b>{{sub.costo}}
                                        pesos</b></span></option>
                        </select>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Tipo de usuario*</span>
                        <select formControlName="idTipoUsuario" class="form-select" aria-label="" required>
                            <option *ngFor="let type of userType" [value]="type.id"><span><b>{{type.tipo |
                                        titlecase}}</b></span></option>
                        </select>
                    </div>

                    <div *ngIf="resetPassword" class="card">
                        <div class="card-body">
                            <h1 class="h5 text-danger">Estas seguro?</h1>
                            <h2 class="h6 mb-2 text-muted">Esta accion creara una contraseña nueva al usuario
                            </h2>
                            <h2 *ngIf="responsePassword" class="h6 mb-2 text-muted">Listo! la nueva contraseña es.-
                                <b>{{responsePassword?.randomstring}}</b>
                            </h2>
                            <div *ngIf="loadingPassword" class="spinner-border text-success" role="status">
                            </div>
                            <a (click)="resetPasswordFunc()" class="card-link" role="button">{{ responsePassword ?
                                'Reintentar' :'Aceptar'}}</a>
                            <a (click)="resetPassword = false" class="card-link" role="button">Cancelar</a>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" [ngClass]="{ 'opacity-25' : isLoadingModal}">
                    <button type="button" (click)="resetPassword = false;" class="btn btn-secondary"
                        data-bs-dismiss="modal">Cerrar</button>
                    <button class="btn btn-primary" type="submit">Guardar Cambios</button>
                    <button type="button" (click)="resetPassword = true;" class="btn btn-danger">Restablecer
                        Contraseña</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div [ngClass]="{'show': resultSave}" class="toast align-items-center text-white bg-success border-0"
    style="position: absolute; top: 4%; right: 5%;" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
        <div class="toast-body">
            Datos guardados exitosamente
        </div>
        <button (click)="resultSave = false" type="button" class="btn-close btn-close-white me-2 m-auto"
            data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
</div> -->