<body>
    <enarm-header></enarm-header>
    <div class="ph-55" style="padding-top: 9%;">
        <div class="div___name">
            <h1 class="h1___welcome">Configurador de Examen</h1>
            <h1 class="h1___daystoenarm">
                <img src="assets/icons/calendar-icon.svg" alt="">
                Quedan 62 días para el ENARM 2023, ¡tu puedes!
            </h1>
        </div>
        <div class="row">
            <div class="col-50 mt-38">
                <div style="display: flex;" class="pr-25">
                    <div class="col-50">
                    </div>
                    <div class="col-50">

                    </div>
                </div>
                <div class="mt-50 div___moreExams">
                    <enarm-select></enarm-select>
                </div>
            </div>
            <div class="col-50">
                <div class="mt-38 pl-25">
                    <enarm-toast-quotes quote="Cuéntamelo y me olvidaré. enséñamelo y lo recordaré. involúcrame y lo aprenderé."
                        author="Benjamin Franklin"></enarm-toast-quotes>
                    <div class="mt-50 div___generate">
                        <enarm-button text="Generar examen"></enarm-button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>