<body>
    <enarm-header></enarm-header>
    <div class="ph-55" style="padding-top: 9%;">
        <enarm-loading-outlet [isLoading]="isLoading">
        <div class="div___name">
            <h1 class="h1___welcome">Configurador de Examen</h1>
            <h1 class="h1___daystoenarm">
                <img src="assets/icons/calendar-icon.svg" style="width: 25px;" alt="">
                Quedan {{examDate}} días para el ENARM 2023, ¡tu puedes!
            </h1>
        </div>
        <div class="row">
            <div class="col-50 mt-38">
                <div style="display: flex;" class="pr-25">
                    <div class="col-50">
                    </div>
                    <div class="col-50">

                    </div>
                </div>
                <div class="">
                    <h5 class="h5___titles">Incluir preguntas de</h5>
                    <enarm-menu-category [getCategories]="subtemas.response" (selectedCategory)="selectCategory($event)"></enarm-menu-category>
                </div>
                <div class=" mtt-10 div___moreExams">
                    <h5 class="h5___subtitles">Selecciona los subtemas que deseas incluir en el examen:</h5>
                    <enarm-select [setitems]="subcategorySelected" (onSelected)="getSubcatValue($event)"></enarm-select>
                </div>
                <hr class="hr___divider">
                <div class="mtt-10">
                    <h5 class="h5___titles">Filtrar preguntas</h5>
                    <div class="mtt-10"></div>
                    <enarm-checkbox [options]="optionsCheckBox" (onSelectedOption)="getFilterValue($event)"></enarm-checkbox>
                </div>
                <hr class="hr___divider">
                <div class="mtt-10">
                    <h5 class="h5___titles">Idioma</h5>
                    <div class="mtt-10"></div>
                    <enarm-radiobutton valueSelect="Español" option="idioma" [options]="optionsRadioButtonLanguage" (onSelectedRadio)="getLanguageValue($event)"></enarm-radiobutton>
                </div>
                <hr class="hr___divider">
                <div class="mtt-10">
                    <div class="div___doubletitle">
                        <h5 class="h5___titles">Número de preguntas</h5>
                        <div class="div___switch">
                            <h5 class="h5___titles pr-9">Simular ENARM</h5>
                            <div class="div___switch2">
                                <enarm-toggle-switch (onChangedValue)="getSimulatorValue($event)"></enarm-toggle-switch>
                            </div>
                        </div>
                    </div>
                    <mat-slider min="1" max="100" step="1" thumbLabel color="primary" (change)="getSliderValue($event)"></mat-slider>
                </div>
                <hr class="hr___divider">
                <div class="mtt-10">
                    <div class="div___textInfo">
                        <h5 class="h5___titles">Modo de examen</h5>
                        <div class="div___info-icon">
                            <enarm-icon-info message="En el Modo Simulador, tienes que contestar todas y darle a terminar 
                            examen para poder entrar al modo de revisión."></enarm-icon-info>
                        </div>
                    </div>
                    <div class="mtt-10"></div>
                    <enarm-radiobutton option="examen" valueSelect="Modo Estudio" [options]="optionsRadioButtonMode" (onSelectedRadio)="getModeValue($event)"></enarm-radiobutton>
                    <div class="mb-50"></div>
                </div>
            </div>
            <div class="col-50">
                <div class="mt-38 pl-25">
                    <enarm-toast-quotes
                        quote="Cuéntamelo y me olvidaré. enséñamelo y lo recordaré. involúcrame y lo aprenderé."
                        author="Benjamin Franklin"></enarm-toast-quotes>
                    <div class="mtt-50 div___generate">
                        <div class="button___generate">
                            <enarm-button text="Generar examen" (onClick)="getAllValues()"></enarm-button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        </enarm-loading-outlet>
    </div>
</body>

<div [ngClass]="{'show': errorResult.length !== 0}" class="toast align-items-center text-white bg-danger border-0"
    style="position: absolute; bottom: 4%; right: 5%; z-index: 1999;" role="alert" aria-live="assertive"
    aria-atomic="true">
    <div class="d-flex">
        <div class="toast-body">
            {{errorResult}}
        </div>
        <button (click)="errorResult = ''" type="button" class="btn-close btn-close-white me-2 m-auto"
            data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
</div>

<div [ngClass]="{'show': success}" class="toast align-items-center text-white bg-success border-0"
    style="position: absolute; bottom: 4%; right: 5%; z-index: 1999;" role="alert" aria-live="assertive"
    aria-atomic="true">
    <div class="d-flex">
        <div class="toast-body">
            Examen creado exitosamente
        </div>
        <button (click)="errorResult = ''" type="button" class="btn-close btn-close-white me-2 m-auto"
            data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
</div>