body {
  background-color: #FBFBFB;
}

.h1___welcome {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: black;
}

.h1___daystoenarm {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: #818181;
}

.h5___titles {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.005em;
  color: #212121;
}

.h5___subtitles {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.005em;
  color: rgba(33, 33, 33, 0.6);
  padding-bottom: 5px;
}

.div___name {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.div___moreExams {
  margin-right: 25px;
  padding-right: 120px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.div___generate {
  height: 45vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.div___doubletitle{
  display: flex;
  justify-content: space-between;
}

.div___switch{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.div___switch2{
  margin-top:-4px;
}

.div___textInfo{
  display: flex;
  justify-content: flex-start;
}

.div___info-icon{
  margin-top: 3px;
  margin-left: 8px;
  width: 20%;
}

.button___generate {
  width: 100%;
}

.hr___divider {
  background: #E5E7EB;
}

#slider{
  border: solid 1px #82CFD0;
  border-radius: 8px;
  height: 7px;
  width: 100%;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}