/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */

:root {
  --fuse-primary-50: #eef2ff;
  --fuse-primary-50-rgb: 238,242,255;
  --fuse-primary-100: #e0e7ff;
  --fuse-primary-100-rgb: 224,231,255;
  --fuse-primary-200: #c7d2fe;
  --fuse-primary-200-rgb: 199,210,254;
  --fuse-primary-300: #a5b4fc;
  --fuse-primary-300-rgb: 165,180,252;
  --fuse-primary-400: #818cf8;
  --fuse-primary-400-rgb: 129,140,248;
  --fuse-primary-500: #6366f1;
  --fuse-primary-500-rgb: 99,102,241;
  --fuse-primary-600: #4f46e5;
  --fuse-primary-600-rgb: 79,70,229;
  --fuse-primary-700: #4338ca;
  --fuse-primary-700-rgb: 67,56,202;
  --fuse-primary-800: #3730a3;
  --fuse-primary-800-rgb: 55,48,163;
  --fuse-primary-900: #312e81;
  --fuse-primary-900-rgb: 49,46,129;
  --fuse-primary-950: #1e1b4b;
  --fuse-primary-950-rgb: 30,27,75;
  --fuse-primary: #4f46e5;
  --fuse-primary-rgb: 79,70,229;
  --fuse-on-primary-50: #1e1b4b;
  --fuse-on-primary-50-rgb: 30,27,75;
  --fuse-on-primary-100: #1e1b4b;
  --fuse-on-primary-100-rgb: 30,27,75;
  --fuse-on-primary-200: #1e1b4b;
  --fuse-on-primary-200-rgb: 30,27,75;
  --fuse-on-primary-300: #1e1b4b;
  --fuse-on-primary-300-rgb: 30,27,75;
  --fuse-on-primary-400: #1e1b4b;
  --fuse-on-primary-400-rgb: 30,27,75;
  --fuse-on-primary-500: #FFFFFF;
  --fuse-on-primary-500-rgb: 255,255,255;
  --fuse-on-primary-600: #FFFFFF;
  --fuse-on-primary-600-rgb: 255,255,255;
  --fuse-on-primary-700: #FFFFFF;
  --fuse-on-primary-700-rgb: 255,255,255;
  --fuse-on-primary-800: #FFFFFF;
  --fuse-on-primary-800-rgb: 255,255,255;
  --fuse-on-primary-900: #FFFFFF;
  --fuse-on-primary-900-rgb: 255,255,255;
  --fuse-on-primary-950: #FFFFFF;
  --fuse-on-primary-950-rgb: 255,255,255;
  --fuse-on-primary: #FFFFFF;
  --fuse-on-primary-rgb: 255,255,255;
  --fuse-accent-50: #f8fafc;
  --fuse-accent-50-rgb: 248,250,252;
  --fuse-accent-100: #f1f5f9;
  --fuse-accent-100-rgb: 241,245,249;
  --fuse-accent-200: #e2e8f0;
  --fuse-accent-200-rgb: 226,232,240;
  --fuse-accent-300: #cbd5e1;
  --fuse-accent-300-rgb: 203,213,225;
  --fuse-accent-400: #94a3b8;
  --fuse-accent-400-rgb: 148,163,184;
  --fuse-accent-500: #64748b;
  --fuse-accent-500-rgb: 100,116,139;
  --fuse-accent-600: #475569;
  --fuse-accent-600-rgb: 71,85,105;
  --fuse-accent-700: #334155;
  --fuse-accent-700-rgb: 51,65,85;
  --fuse-accent-800: #1e293b;
  --fuse-accent-800-rgb: 30,41,59;
  --fuse-accent-900: #0f172a;
  --fuse-accent-900-rgb: 15,23,42;
  --fuse-accent-950: #020617;
  --fuse-accent-950-rgb: 2,6,23;
  --fuse-accent: #1e293b;
  --fuse-accent-rgb: 30,41,59;
  --fuse-on-accent-50: #020617;
  --fuse-on-accent-50-rgb: 2,6,23;
  --fuse-on-accent-100: #020617;
  --fuse-on-accent-100-rgb: 2,6,23;
  --fuse-on-accent-200: #020617;
  --fuse-on-accent-200-rgb: 2,6,23;
  --fuse-on-accent-300: #020617;
  --fuse-on-accent-300-rgb: 2,6,23;
  --fuse-on-accent-400: #020617;
  --fuse-on-accent-400-rgb: 2,6,23;
  --fuse-on-accent-500: #FFFFFF;
  --fuse-on-accent-500-rgb: 255,255,255;
  --fuse-on-accent-600: #FFFFFF;
  --fuse-on-accent-600-rgb: 255,255,255;
  --fuse-on-accent-700: #FFFFFF;
  --fuse-on-accent-700-rgb: 255,255,255;
  --fuse-on-accent-800: #FFFFFF;
  --fuse-on-accent-800-rgb: 255,255,255;
  --fuse-on-accent-900: #FFFFFF;
  --fuse-on-accent-900-rgb: 255,255,255;
  --fuse-on-accent-950: #FFFFFF;
  --fuse-on-accent-950-rgb: 255,255,255;
  --fuse-on-accent: #FFFFFF;
  --fuse-on-accent-rgb: 255,255,255;
  --fuse-warn-50: #fef2f2;
  --fuse-warn-50-rgb: 254,242,242;
  --fuse-warn-100: #fee2e2;
  --fuse-warn-100-rgb: 254,226,226;
  --fuse-warn-200: #fecaca;
  --fuse-warn-200-rgb: 254,202,202;
  --fuse-warn-300: #fca5a5;
  --fuse-warn-300-rgb: 252,165,165;
  --fuse-warn-400: #f87171;
  --fuse-warn-400-rgb: 248,113,113;
  --fuse-warn-500: #ef4444;
  --fuse-warn-500-rgb: 239,68,68;
  --fuse-warn-600: #dc2626;
  --fuse-warn-600-rgb: 220,38,38;
  --fuse-warn-700: #b91c1c;
  --fuse-warn-700-rgb: 185,28,28;
  --fuse-warn-800: #991b1b;
  --fuse-warn-800-rgb: 153,27,27;
  --fuse-warn-900: #7f1d1d;
  --fuse-warn-900-rgb: 127,29,29;
  --fuse-warn-950: #450a0a;
  --fuse-warn-950-rgb: 69,10,10;
  --fuse-warn: #dc2626;
  --fuse-warn-rgb: 220,38,38;
  --fuse-on-warn-50: #450a0a;
  --fuse-on-warn-50-rgb: 69,10,10;
  --fuse-on-warn-100: #450a0a;
  --fuse-on-warn-100-rgb: 69,10,10;
  --fuse-on-warn-200: #450a0a;
  --fuse-on-warn-200-rgb: 69,10,10;
  --fuse-on-warn-300: #450a0a;
  --fuse-on-warn-300-rgb: 69,10,10;
  --fuse-on-warn-400: #450a0a;
  --fuse-on-warn-400-rgb: 69,10,10;
  --fuse-on-warn-500: #fef2f2;
  --fuse-on-warn-500-rgb: 254,242,242;
  --fuse-on-warn-600: #FFFFFF;
  --fuse-on-warn-600-rgb: 255,255,255;
  --fuse-on-warn-700: #FFFFFF;
  --fuse-on-warn-700-rgb: 255,255,255;
  --fuse-on-warn-800: #FFFFFF;
  --fuse-on-warn-800-rgb: 255,255,255;
  --fuse-on-warn-900: #FFFFFF;
  --fuse-on-warn-900-rgb: 255,255,255;
  --fuse-on-warn-950: #FFFFFF;
  --fuse-on-warn-950-rgb: 255,255,255;
  --fuse-on-warn: #FFFFFF;
  --fuse-on-warn-rgb: 255,255,255;
  --fuse-bg-app-bar: #FFFFFF;
    --fuse-bg-app-bar-rgb: 255, 255, 255;
    --fuse-bg-card: #FFFFFF;
    --fuse-bg-card-rgb: 255, 255, 255;
    --fuse-bg-default: #f1f5f9;
    --fuse-bg-default-rgb: 241, 245, 249;
    --fuse-bg-dialog: #FFFFFF;
    --fuse-bg-dialog-rgb: 255, 255, 255;
    --fuse-bg-hover: rgba(148, 163, 184, .12);
    --fuse-bg-hover-rgb: 148, 163, 184;
    --fuse-bg-status-bar: #cbd5e1;
    --fuse-bg-status-bar-rgb: 203, 213, 225;
    --fuse-text-default: #1e293b;
    --fuse-text-default-rgb: 30, 41, 59;
    --fuse-text-secondary: #64748b;
    --fuse-text-secondary-rgb: 100, 116, 139;
    --fuse-text-hint: #94a3b8;
    --fuse-text-hint-rgb: 148, 163, 184;
    --fuse-text-disabled: #94a3b8;
    --fuse-text-disabled-rgb: 148, 163, 184;
    --fuse-border: #e2e8f0;
    --fuse-border-rgb: 226, 232, 240;
    --fuse-divider: #e2e8f0;
    --fuse-divider-rgb: 226, 232, 240;
    --fuse-icon: #64748b;
    --fuse-icon-rgb: 100, 116, 139;
    --fuse-mat-icon: #64748b;
    --fuse-mat-icon-rgb: 100, 116, 139;
}
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
// @use '@angular/material' as mat;
// // Plus imports for other components in your app.

// // Include the common styles for Angular Material. We include this here so that you only
// // have to load a single css file for Angular Material in your app.
// // Be sure that you only ever include this mixin once!
// @include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// // hue. Available color palettes: https://material.io/design/color/
// $enarmapp-primary: mat.define-palette(mat.$indigo-palette);
// $enarmapp-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// // The warn palette is optional (defaults to red).
// $enarmapp-warn: mat.define-palette(mat.$red-palette);

// // Create the theme object. A theme consists of configurations for individual
// // theming systems such as "color" or "typography".
// $enarmapp-theme: mat.define-light-theme((
//   color: (
//     primary: $enarmapp-primary,
//     accent: $enarmapp-accent,
//     warn: $enarmapp-warn,
//   )
// ));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
// @include mat.all-component-themes($enarmapp-theme);

/* You can add global styles to this file, and also import other style files */
// @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
// @import '~quill/dist/quill.bubble.css';

h1,
h2,
p,
h3,
h4,
h5,
a,
h6 {
//   font-family: 'Manrope', sans-serif;
  margin: 0 !important;
  padding: 0 !important;
}
 
body {
  margin: 0;
}

.ml-15 {
  margin-left: 15px !important;
}

.center {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.ph-16 {
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.pv-30 {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}

.pv-25 {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}

.ph-20 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.pt-5 {
  padding-top: 5% !important;
}

.mt-18 {
  margin-top: 18px !important;
}

.mt-23 {
  margin-top: 23px !important;
}

.mt-24 {
  margin-top: 24px !important;
}

.mtt-5 {
  margin-top: 5px !important;
}

.pt-5px {
  padding-top: 5px !important;
}

.pl-5 {
  padding-left: 5px !important;
}

.ph-55 {
  padding-left: 55px !important;
  padding-right: 55px !important;
}

.center-items {
  display: flex !important;
  align-items: center !important;
  align-self: center !important;
  align-content: center !important;
}

.width100 {
  width: 100% !important;
}

.tx-center {
  text-align: center !important;
}

.tx-right {
  text-align: right !important;
}

.tx-left {
  text-align: left !important;
}

.mr-8 {
  margin-right: 8px !important;
}

.mt-8 {
  margin-top: 8px !important;
}

.mb-8 {
  margin-bottom: 8px !important;
}

.mtt-10 {
  margin-top: 10px !important;
}

.mt-12 {
  margin-top: 12px !important;
}

.mt-14 {
  margin-top: 14px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.mt-16 {
  margin-top: 16px !important;
}

.mtt-20 {
  margin-top: 20px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-25 {
  margin-bottom: 25px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mtt-30 {
  margin-top: 30px !important;
}

.mt-38 {
  margin-top: 38px !important;
}

.mtt-50 {
  margin-top: 50px !important;
}

.mt-150 {
  margin-top: 150px !important;
}


.mt-2 {
  margin-top: 2px !important;
}

.pt-23 {
  padding-top: 23px !important;
}

.mb-8 {
  margin-bottom: 8px !important;
}

.pr-5{
  padding-right: 5px;
}

.pr-9 {
  padding-right: 8px !important;
}

.pl-9 {
  padding-left: 8px !important;
}

.pl-11 {
  padding-left: 11px !important;
}

.pr-25 {
  padding-right: 25px !important;
}

.pl-25 {
  padding-left: 25px !important;
}

.inline {
  display: inline-flex !important;
}

.inline-center {
  width: 100% !important;
  display: flex !important;
  justify-content: center !important;
}

.inline-separe {
  display: flex !important;
  justify-content: space-between !important;
}

//   grid section
.row:after {
  content: "" !important;
  display: table !important;
  clear: both !important;
}

.subrow:after {
  content: "" !important;
  display: table !important;
  clear: both !important;
}

.col-33 {
  float: left !important;
  width: 33% !important;
}

.col-50 {
  float: left !important;
  width: 50% !important;
}

.col-25 {
  float: left !important;
  width: 25% !important;
}

.col-30 {
  float: left !important;
  width: 30% !important;
}

.col-40{
  float: left !important;
  width: 40% !important;
}

.col-20 {
  float: left !important;
  width: 20% !important;
}

.col-10 {
  float: left !important;
  width: 10% !important;
}

.col-90 {
  float: left !important;
  width: 90% !important;
}

.col-5 {
  float: left !important;
  width: 5% !important;
}

.col-95 {
  float: left !important;
  width: 95% !important;
}


//  scroll bar

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  margin-right: 10px;
  border-radius: 8px !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 8px;
}
html, body { height: 100%; }
