.div___position{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    border-bottom: 2px solid #E5E7EB;
    padding-bottom: 10px;
}

.h1___category{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.005em;
    color: #000000;
    cursor: pointer;
}