
<div><div (click)="isHidden = !isHidden" class="div___principal" [ngClass]="{ 'border___open': !isHidden }">
  <div class="div___position">
      <div class="div___dot">
        <h3 [ngClass]="{'selected': value ? true: false}">{{value ? value : placeholder}}</h3>
      </div> 
      <div>
        <img class="svg___downarrow" src="assets/icons/down-arrow-icon.svg" [ngStyle]="{ 'transform': !isHidden ? 'rotate(180deg)' : 'none' }">
      </div>
  </div>
</div>

<div [hidden]="isHidden" class="div___select">
  <div class="input___search">  
    <enarm-input (keyPress)="findItem($event)" type="search" placeholder="Buscar subtema"></enarm-input>
  </div>
  <div class="div___position2 cursor"*ngFor="let item of itemsFiltered" (click)="selected(item)">
    <h5 style="padding-top: 5px">{{item.value}}</h5>
    <h5 style="visibility: hidden;">{{item.id}}</h5>
    <img *ngIf="item.selected" style="width: 4%;" src="assets/icons/check-select.svg">
  </div>
</div>
</div>
<!--
<div class="div___prosition">
  <div *ngFor="let item of temas" [ngStyle]="{ 'border-bottom': item.selected ? '1px solid black' : 'none' }" (click)="select(item)">
    <h1>{{item.name}}</h1>
  </div>
</div>

const temas = [
  {name: 'medicina interna', id: 2, selected : flase},
  {name: 'medicina interna', id: 2, selected : flase},
  {name: 'medicina interna', id: 2, selected : flase},
  {name: 'medicina interna', id: 2, selected : flase},
  {name: 'medicina interna', id: 2, selected : flase}
]-->