.div___principal {
    width: 100%;
    height: 45px;
    background-color: white;
    border-radius: 8px;
    margin-top: 5px;
    border: 1px solid #525252;
}

.border___open {
    border: 1px solid #3B82F6;
    box-shadow: 0px 0px 0px 4px rgba(59, 130, 246, 0.25);
    border-radius: 6px;
}

.div___dot {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

h3 {
    margin: 0;
    width: 100%;
    padding: 14px 15px;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.005em;
    color: #6B7280;
    white-space: nowrap;
    text-overflow: revert;
}

.selected {
    color: black;
}

h5 {
    font-weight: bold;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    color: #525252;
}

.div___select {
    padding: 5px 10px;
    padding-top: 0;
    margin-top: 9px;
    border: 1px solid #E5E7EB;
    box-shadow: 0px 90px 36px rgb(0 0 0 / 1%), 0px 50px 30px rgb(0 0 0 / 5%), 0px 22px 22px rgb(0 0 0 / 9%), 0px 6px 12px rgb(0 0 0 / 10%), 0px 0px 0px rgb(0 0 0 / 10%);
    border-radius: 8px;
    max-height: 36.5vh;
    overflow-y: auto;
    position: absolute;
    z-index: 10;
    background-color: white;
    width: 33%;
}

.div___position {
    display: flex;
    justify-content: space-between;
}

.div___position2 {
    display: flex;
    justify-content: space-between;
    padding: 4px;
    padding-left: 8px;
    margin-top: 4px;
}

.cursor {
    
    cursor: pointer;
}

.svg___downarrow {
    margin-top: 10px;
    margin-right: 7px;
    scale: 90%;
}

.input___search {
    margin-top: 10px;
    padding: 7px;
    border-bottom: 1px solid #E5E7EB;
    margin-bottom: 10px;
}